<h1> Here is your Zen quote: </h1>

<font color = <%= @random_color[rand(0..5)] %> <%= @quote %> </font>

<h1> Go in peace. </h1>

<h2> <a href = "https://www.google.com/?gws_rd=ssl#q=<%= @quote %>"> Google your quote. </a>

<h2> Here is a peaceful image: </h2>

<img src = <%="http://lorempixel.com/400/200" %>