<h2> Please enter your Super Secret Military Code </h2>

<form action= "/mainframe" method="POST">

	<input type='number' name='user_code'>
	<br>
	<input type='submit' value='Login'>

</form>

<%= @user_guess %>